:root {
  --gradient-bg: linear-gradient(214deg, #ebebeb, #d6dac8, #9cafaa);
  --base-color: #eceedf;
  --primary-color: #0a0a18;
  --secondary-color: #181816;
  --social-icon: #0a0a18;
  --secondary-social-icon: #fff;
  --image-shadow: rgba(0, 0, 0, 0.25);
  --theme-bg: #eceedf;
  --theme-border: #bdbeb2;
  --box: #9CAFAA;
}

.darkmode {
  --gradient-bg: linear-gradient(281deg, #19183b, #000000, #0b1d51);
  --base-color: #181816;
  --primary-color: #ffffff;
  --secondary-color: #fdfdfc;
  --social-icon: #babac4;
  --secondary-social-icon: #0a0a18;
  --image-shadow: rgba(255, 255, 255, 0.75);
  --theme-bg: #2f302d;
  --theme-border: #474743;
  --box: #37353E;
}

#theme-switcher {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  /* https://www.w3schools.com/css/css3_variables.asp*/
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switcher img {
  fill: var(--primary-color);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:first-child */
#theme-switcher img:last-child {
  display: none;
}

.darkmode #theme-switcher img:first-child {
  display: none;
}

.darkmode #theme-switcher img:last-child {
  display: block;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--base-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 100;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s;
  opacity: 0.5;
}

.navbar a.active {
  opacity: 1;
  font-weight: 700;
}

.navbar a:hover {
  opacity: 0.8;
  color: var(--primary-color);
  transition: 0.3s;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  gap: 80px;
}

.intro {
  max-width: 600px;
}

.intro h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--secondary-color);
}

.intro h1 {
  color: var(--primary-color);
  text-align: start;
  font-size: 50px;
  font-weight: 700;
  margin: 5px 0;
}

.intro p {
  font-size: 18px;
  color: var(--secondary-color);
  line-height: 1.4;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--social-icon);
  border-radius: 50%;
  font-size: 20px;
  color: var(--social-icon);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: all 0.3s;
}

.social a:hover {
  background: var(--social-icon);
  color: var(--secondary-social-icon);
  box-shadow: 0 0 20px var(--social-icon);
  transition: all 0.3s;
}

.home .photo img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  transition: all 0.2s linear;
}

.home .photo img:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 10px 20px var(--image-shadow);
}

.switch-mode {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--theme-border);
  background-color: var(--theme-bg);
}

.btn-box {
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid var(--social-icon);
  border-radius: 40px;
  font-size: 20px;
  color: var(--social-icon);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: all 0.3s;
}

.btn-box:hover {
  background: var(--social-icon);
  color: var(--secondary-social-icon);
  box-shadow: 0 0 20px var(--social-icon);
  transition: all 0.3s;
}


/*https://animated-gradient-background-generator.netlify.app/*/

.gradient-background {
  background: var(--gradient-bg);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#message {
  width: 100;
  height: 100;
}

form {
  max-width: 550px;
  width: 90%;
  background: var(--box);
  color: var(--secondary-color);
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-align: center;
  color: var(--secondary-color);
}

label {
  display: block;
  margin: 20px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #e9e0e0;
}

.center {
  text-align: center;
}

input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: var(--base-color);
  color: var(--secondary-color);
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: #28A745;
}


.contactsocial {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contactsocial a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--social-icon);
  border-radius: 50%;
  font-size: 20px;
  color: var(--social-icon);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: all 0.3s;
}

.contactsocial a:hover {
  background: var(--social-icon);
  color: var(--secondary-social-icon);
  box-shadow: 0 0 20px var(--social-icon);
  transition: all 0.3s;
}

.projects-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--secondary-color);
  ;
  margin: 150px 0 30px;
  font-weight: bold;
}

.projects-row {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  flex-wrap: wrap;
  margin: 100px 0 32px 0
}

.project-card {
  background: var(--box);
  color: var(--secondary-color);
  border-radius: 12px;
  padding: 12px;
  max-width: 300px;
  overflow: hidden;
  transition: all 0.2s linear;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 10px var(--image-shadow);
}


.project-thumbnail img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.card-body {
  margin: 16px 0
}

.project-title {
  font-family: inter, Helvetica, "Open Sans", sans-serif;
  font-weight: 700;
}

.chip-row {
  margin: 12px 0;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  color: var(--primary-color)
}

.chip {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid var(--social-icon);
  border-radius: 40px;
  font-size: 15px;
  color: var(--social-icon);
  text-decoration: none;
  margin: 8px 8px 0 0;
  transition: all 0.3s;
}

.chip:hover {
  background: var(--social-icon);
  color: var(--secondary-social-icon);
  box-shadow: 0 0 20px var(--social-icon);
  transition: all 0.3s;
}

.project-description {
  margin: 16px 0
}

.project-description p {
  font-family: inter, Helvetica, "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.cta {
  margin: 32px 0 0;
}

.button {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 12px 8px;
  border: 2px solid var(--social-icon);
  color: var(--social-icon);
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: inter, Helvetica, "Open Sans", sans-serif;
  transition: all .3s;
}

.button:hover {
  background: var(--social-icon);
  color: var(--secondary-social-icon);
  box-shadow: 0 0 20px var(--social-icon);
  transition: all 0.3s;
}




.aboutme {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.aboutme-sec {
  margin-top: 30px;
  padding: 120px 40px 40px;

}

.aboutme-sec .photo img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  transition: all 0.2s linear;
  display: block;
  margin: 0 auto;
}

.aboutme-sec .photo img:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 10px 20px var(--image-shadow);
}

.h4-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  padding: 120px 40px 40px;
}

.mt-2 p {
  font-family: Arial;
  font-size: 20px;
  color: var(--primary-color);
  line-height: 1.8;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}


.skills {
  background: var(--box);
  color: var(--secondary-color);
  border-radius: 12px;
  padding: 12px;
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.2s linear;
}

.skills:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 10px var(--image-shadow);
}


.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  color: var(--secondary-color);
  font-size: 16px;

}

.item img {
  width: 24px;
  height: 24px;
}


